<div class="login-form mx-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card>
            <div class="form-header w-100 text-center mb-2">
                <img class="logo mb-4">
                <mat-card-title>
                    Prueba técnica
                </mat-card-title>
            </div>
            <mat-card-content>
                <mat-form-field class="full-width p-1">
                    <mat-icon class="m-2" matPrefix>person_outline</mat-icon>
                    <input matInput formControlName="email" placeholder="Email" id="email-input">
                    <mat-error *ngIf="isValidField('email')" id="email-error-msg">
                        {{ getErrorMessage('email') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width p-1">
                    <mat-icon class="m-2" matPrefix>lock_outline</mat-icon>
                    <input matInput formControlName="password" placeholder="Contraseña" [type]="hide ? 'password' : 'text'" id="password-input">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="isValidField('password')" id="password-error-msg">
                        {{ getErrorMessage('password') }}
                    </mat-error>
                </mat-form-field>
                <div class="box p-1">
                    <span>
                        Recordar
                    </span>
                    <mat-slide-toggle formControlName="reminder" class="push"></mat-slide-toggle>
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="text-center">
                    <button class="btn btn-primary custom-button text-center" [disabled]="loading" id="login-button">Acceder</button>
                </div>
                <mat-progress-bar *ngIf="loading" [mode]="loading ? 'indeterminate' : 'determinate'" id="loading-bar"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </form>
</div>