@import "../../styles.scss";

.login-form {
  display:flex;
  justify-content: center;
  padding-top: 4rem;
}

.full-width {
    width: 100%;
}

.box {
  display: flex;
}

.push {
    margin-left: auto;
}

.custom-button {
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 960px) {
  .form-header {
    display: none;
  }

  .visible-only-bigger {
    display: none;
  }

  .custom-button {
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .login-form {
    padding-top: 0;
  }
}