.main-background {
    background-image: url(../assets/images/background_login.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.logo {
    display: none;
}

@media only screen and (max-width: 960px) {
    .logo {
        display: inline;
    }   
}